<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.springbootrecruit.projiect.login.LoginMapper">



    <select id="verificationLogin" resultType="java.util.HashMap"  parameterType="java.util.HashMap">
           SELECT
             USER_ID,
             USER_NAME,
             USER_PASSWORD
          FROM USER_LOGIN
          WHERE (USER_NAME = #{USERNAME}
          or USER_PASSWORD = #{PASSWORD})
    </select>
</mapper>