<component name="ArtifactManager">
  <artifact type="war" name="springboot-zp:war">
    <output-path>$PROJECT_DIR$/springboot-mvc-mybatis/target</output-path>
    <root id="archive" name="springboot-zp-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-zp:war exploded" />
    </root>
  </artifact>
</component>